/*CSS for navbar start*/
body{
    font-family: 'Tinos', serif;
    background-color: #bbbbbb;
}
.nav-bar{
    max-width: 1300px;
    margin: 0 auto;
    background-color: #333;
    padding: 0;
    overflow: hidden;
}
.nav-bar .nav-item{
    display: block;
    float: left;
    border-right: 1px solid #bbb;
    color: white;
    text-align: center;
}
.nav-bar .nav-no-border {
    border-right: none;
}
.nav-bar .nav-last{
    float: right;
    border-right: none;
}
.nav-bar a, .dropbtn {
    display: block;
    color: white;
    padding: 0.875rem 1rem;
    text-decoration: none;
}
.nav-item.show{
    display: block !important;
}
.nav-item:hover{
    background-color: #111;
}
.nav-bar .hamburger-btn{
    display: none;
    float: right;
    border-right: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

footer{
    background-color: #bbbbbb;
}

.foot-bar{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: visible;
    background-color: #333;
}

.footer-text {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/*Note when making it responsive, change the max height size of the image for each size*/
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 498px) {
    .nav-bar .hamburger-btn{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-bar .nav-item:not(:first-child){
        display: none;
        float: none;
    }
    .nav-bar .nav-item{
        border-right: none;
        text-align: left;
        float: none;
    }
}