/*CSS for main image and 3 volunteers*/
.content {
    display: block;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.frontImage {
    height: auto;
    width: 100%;
    max-width: 1300px;
    filter: grayscale(100%);
    transition: .5s all 3s
}
.frontImage:hover {
    filter: none;
    transition-delay: 0s;
}
.parent {
    display: grid;
    max-width: 1300px;
    margin-top: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 1.875rem;
    grid-row-gap: 0.625rem;
}
.card-img-top{
    max-height: 250px;
}
.card-body{
    text-align: center;
}
.card-footer{
    text-align: center;
}
.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-secondary {
    border-color: #6c757d;
}
.btn:hover {
    z-index: 1;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
@media screen and (max-width: 900px) {
    .parent {
        max-width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .div3 { grid-area: 2 / 1 / 2 / 3;}
}
@media screen and (max-width: 498px) {
    .parent {
        max-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .div3 { grid-area: initial}
}